body {
  background-color: #ffffff;
  color: #354a69;
}

input[type='submit'], button, [aria-label] {
  cursor: pointer;
}

#editForm {
  display: none;
}

table {
  font-family: Arial, sans-serif;
  border: 1px solid;
  border-collapse: collapse;
}

th {
  background-color: #354a69;
  color: #ffffff;
  padding: 5px;
  cursor: pointer;
}

td {
  border: 1px solid;
  padding: 5px;
}

tr:nth-child(even) {
  background-color: #e2e5eb;
}

tr:hover {
  background-color: #6e809c;
  color: #ffffff;
}